<div class="superior2">
    
    <a href="/">
        <div class="anterior">
            <i class="fas fa-chevron-left"></i>
            <p>Volver</p>
        </div>
    </a>

    <div class="posterior">
        <p class="paso">Paso 01/03</p>
        <p class="pi">Información personal.</p>
    </div>

</div>

<div class="navegacion">
    
    <div class="presentacion">
        <p class="unete">Registra tu cuenta individual</p>
        <p class="paraempezar">Para poder revisar que se trata de una cuenta real, precisamos de la siguiente información</p>
    </div>
    
    <div class="formulario1">
        <form autocomplete="off" [formGroup]="form1" (ngSubmit)="avanzar()" >
            
            <div class="objform" >
                <label>Nombre *</label>
                <input type="text" formControlName="nc">
            </div>

            <div class="objform" >
                <label>Correo Electrónico *</label>
                <input type="text" formControlName="email">
            </div>

            <div class="objform" >
                <label>Contraseña *</label>
                <input type="password" formControlName="pass">
            </div>
            
            <div class="objform2" >
                <label><input type="checkbox" placeholder="" FormControlName="tyc">Acepto términos y condiciones.</label>
            </div>

            <div class="objform">
                <button type="submit" class="botonsubmit">Crear cuenta</button>
            </div>
            
            <div class="objform">
                <button type="submit" class="botonsubmit"><i class="fab fa-google"></i> Regístrate con google</button>
            </div>
        
        </form>
    </div>

</div>