<div class="superior2">
    
    <a href="/">
        <div class="anterior">
            <i class="fas fa-chevron-left"></i>
            <p>Volver</p>
        </div>
    </a>

    <div class="posterior">
        <p class="paso">Paso 01/03</p>
        <p class="pi">Información personal.</p>
    </div>

</div>

<div class="navegacion">
    
    <div class="presentacion">
        <p class="unete">Registra tu cuenta individual</p>
        <p class="paraempezar">Para poder revisar que se trata de una cuenta real, precisamos de la siguiente información</p>
    </div>
    
    <div class="formulario1">
        <form autocomplete="off" [formGroup]="form1" (ngSubmit)="avanzar()" >
            
            <div class="objform" >
                <label>Nombre *</label>
                <input type="text" placeholder="" FormControlName="nombreCompleto">
            </div>

            <div class="objform" >
                <label>Correo Electrónico *</label>
                <input type="text" placeholder="" FormControlName="nombreCompleto">
            </div>

            <div class="objform" >
                <label>Contraseña *</label>
                <input type="text" placeholder="" FormControlName="nombreCompleto">
            </div>
        
        </form>
    </div>

</div>