<div class="superior">
    <div>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat, quae.</div>
</div>

<div class="navegacion">
    
    <div class="presentacion">
        <p class="unete">¡Unete a la comunidad!</p>
        <p class="paraempezar">Para empezar, dinos que te gustaria abrir.</p>
    </div>
    
    <div class="botones">
        
        <div class="botonregistro">
            <div class="icono">
                <i class="fas fa-keyboard icono"></i>
            </div>
            <div class="texto">
                <p class="titulo">Developers</p>
                <p class="subtitulo">Para personas que deseen entrar en el mundo dev.</p>
            </div>
            <div class="flechavance">
                <i class="fas fa-arrow-right"></i>
            </div>
        </div>
        
        <div class="botonregistro">
            <div class="icono">
                <i class="fas fa-briefcase"></i>
            </div>
            <div class="texto">
                <p class="titulo">Business</p>
                <p class="subtitulo">Tienes o perteneces a una compañia</p>
            </div>
            <div class="flechavance">
                <i class="fas fa-arrow-right"></i>
            </div>
        </div>

    </div>

</div>